[Unit]
Description=Backup mataroa database

[Service]
Type=oneshot
User=deploy
WorkingDirectory=/home/deploy
Environment="PGPASSWORD=${POSTGRES_PASSWORD}"
ExecStart=/home/deploy/backup-database.sh

[Install]
WantedBy=multi-user.target
