[Unit]
Description=Backup mataroa database

[Service]
Type=oneshot
User=deploy
WorkingDirectory=/var/www/mataroa
EnvironmentFile=/etc/systemd/system/mataroa.env
ExecStart=/var/www/mataroa/deploy/backup-database.sh

[Install]
WantedBy=multi-user.target
