{% extends 'main/layout.html' %}

{% block title %}Mataroa API{% endblock %}

{% block content %}
<main>
    <h1>Mataroa API</h1>
    <p>
        We provide an API to allow programmatic updating of one’s blog.
    </p>

    <dl>
        <dt>API Base Endpoint</dt>
        <dd><code>{{ protocol }}//{{ host }}/api/</code></dd>
    </dl>

    <dl>
        <dt>API Key</dt>
        <dd><code>{{ request.user.api_key|default:"your-api-key" }}</code></dd>
    </dl>
    {% if request.user.is_authenticated %}
    <p>
        <a href="{% url 'api_reset' %}">Reset API key »</a>
    </p>
    {% endif %}

    <h2>Notes</h2>
    <ul>
        <li>All API endpoints end with a trailing slash.</li>
        <li>
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type">Content type</a>
            <code>application/json</code> is expected.
        </li>
        <li>There is no rate limiting.</li>
    </ul>

    <h2 id="authentication">Authentication</h2>
    <p>
        We authenticate requests using the
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Authorization">Authorization</a>
        HTTP header, using the <code>Bearer</code> scheme.
    </p>
    <pre><code>Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}</code></pre>

    <h2>API Endpoints</h2>

    <ul>
        <li><a href="#posts">Posts</a>
            <ul>
                <li><a href="#post-create">Create post</a></li>
                <li><a href="#post-get">Get single post</a></li>
                <li><a href="#post-update">Update post</a></li>
                <li><a href="#post-delete">Delete post</a></li>
                <li><a href="#post-list">List all posts</a></li>
            </ul>
        </li>
        <li><a href="#comments">Comments</a>
            <ul>
                <li><a href="#comment-list">List all comments</a></li>
                <li><a href="#comment-pending">List pending comments</a></li>
                <li><a href="#comment-post">List comments for post</a></li>
                <li><a href="#comment-get">Get single comment</a></li>
                <li><a href="#comment-approve">Approve comment</a></li>
                <li><a href="#comment-delete">Delete comment</a></li>
            </ul>
        </li>
        <li><a href="#pages">Pages</a>
            <ul>
                <li><a href="#page-create">Create page</a></li>
                <li><a href="#page-get">Get single page</a></li>
                <li><a href="#page-update">Update page</a></li>
                <li><a href="#page-delete">Delete page</a></li>
                <li><a href="#page-list">List all pages</a></li>
            </ul>
        </li>
    </ul>

    <h2 id="posts">Posts</h2>

    <h3 id="post-create">POST /api/posts/</h3>
    <p>
        Create new post.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><code>title</code>: string [required]</li>
        <li><code>body</code>: string [optional]</li>
        <li><code>published_at</code>: string (ISO date eg. 2006-01-31) [optional]</li>
    </ul>

    <strong>Request</strong>
    <pre><code>{
    "title": "New blog",
    "body": "## Why?\n\nEveryone wants a blog, right?",
    "published_at": "2020-09-21"
}</code></pre>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "slug": "new-blog",
    "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/new-blog/"
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X POST \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    -d '{"title": "New blog", "body": "## Why?\n\nEveryone needs a blog, right?"}' \
    {{ protocol }}//{{ host }}/api/posts/
</code></pre>

    <h3 id="post-get">GET /api/posts/&lt;post-slug&gt;/</h3>
    <p>
        Get single post.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "slug": "new-blog",
    "title": "New blog",
    "body": "Welcome!"
    "published_at": "2020-09-21"
    "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/new-blog/"
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X GET \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/posts/new-blog/
</code></pre>

    <h3 id="post-update">PATCH /api/posts/&lt;post-slug&gt;/</h3>
    <p>
        Update existing post.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><code>title</code>: string [optional]</li>
        <li><code>slug</code>: string (slug; no spaces) [optional]</li>
        <li><code>body</code>: string [optional]</li>
        <li><code>published_at</code>: string (ISO date eg. 2006-01-31; or empty to unpublish) [optional]</li>
    </ul>

    <strong>Request</strong>
    <pre><code>{
    "title": "Updating my new blog",
    "slug": "updating-blog",
    "body": "Welcome back!"
    "published_at": "2020-09-21"
}</code></pre>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "slug": "updating-blog",
    "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/updating-blog/"
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X PATCH \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    -d '{"title": "Updating my new blog", "body": "Rethinking and rewriting."}' \
    {{ protocol }}//{{ host }}/api/posts/introducing-my-new-blog/
</code></pre>

    <h3 id="post-delete">DELETE /api/posts/&lt;post-slug&gt;/</h3>
    <p>
        Delete post.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X DELETE \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/posts/introducing-my-new-blog/
</code></pre>

    <h3 id="post-list">GET /api/posts/</h3>
    <p>
        List all posts.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "post_list": [
        {
            "title": "On life",
            "slug": "on-life",
            "body": "What is life?\n\nAn illusion, a shadow, a story.",
            "published_at": null,
            "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.mataroa.blog/blog/on-life/"
        },
        {
            "title": "New blog",
            "slug": "new-blog",
            "body": "With health!",
            "published_at": "2020-10-19",
            "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.mataroa.blog/blog/new-blog/"
        }
    ]
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X GET \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/posts/
</code></pre>

    <hr>

    <h2 id="comments">Comments</h2>

    <h3 id="comment-list">GET /api/comments/</h3>
    <p>
        List all comments on your posts.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "comment_list": [
        {
            "id": 12,
            "post_slug": "on-life",
            "post_title": "On life",
            "post_url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/on-life/",
            "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/on-life/#comment-12",
            "created_at": "2024-01-15T12:33:45Z",
            "name": "Visitor",
            "email": "visitor@example.com",
            "body": "An inspiring post!",
            "is_approved": true,
            "is_author": false
        }
    ]
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X GET \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/comments/
</code></pre>

    <h3 id="comment-pending">GET /api/comments/pending/</h3>
    <p>
        List comments awaiting approval.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "comment_list": [
        {
            "id": 13,
            "post_slug": "on-life",
            "post_title": "On life",
            "post_url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/on-life/",
            "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/on-life/#comment-13",
            "created_at": "2024-01-16T09:01:02Z",
            "name": "Reader",
            "email": null,
            "body": "Please approve this comment.",
            "is_approved": false,
            "is_author": false
        }
    ]
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X GET \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/comments/pending/
</code></pre>

    <h3 id="comment-post">GET /api/posts/&lt;post-slug&gt;/comments/</h3>
    <p>
        List comments for a specific post.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "comment_list": [
        {
            "id": 12,
            "post_slug": "on-life",
            "post_title": "On life",
            "post_url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/on-life/",
            "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/on-life/#comment-12",
            "created_at": "2024-01-15T12:33:45Z",
            "name": "Visitor",
            "email": "visitor@example.com",
            "body": "An inspiring post!",
            "is_approved": true,
            "is_author": false
        }
    ]
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X GET \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/posts/on-life/comments/
</code></pre>

    <h3 id="comment-get">GET /api/comments/&lt;comment-id&gt;/</h3>
    <p>
        Get details for a single comment.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "comment": {
        "id": 13,
        "post_slug": "on-life",
        "post_title": "On life",
        "post_url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/on-life/",
        "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/on-life/#comment-13",
        "created_at": "2024-01-16T09:01:02Z",
        "name": "Reader",
        "email": null,
        "body": "Please approve this comment.",
        "is_approved": false,
        "is_author": false
    }
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X GET \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/comments/13/
</code></pre>

    <h3 id="comment-approve">POST /api/comments/&lt;comment-id&gt;/approve/</h3>
    <p>
        Approve a pending comment.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "comment": {
        "id": 13,
        "post_slug": "on-life",
        "post_title": "On life",
        "post_url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/on-life/",
        "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/blog/on-life/#comment-13",
        "created_at": "2024-01-16T09:01:02Z",
        "name": "Reader",
        "email": null,
        "body": "Please approve this comment.",
        "is_approved": true,
        "is_author": false
    }
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X POST \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/comments/13/approve/
</code></pre>

    <h3 id="comment-delete">DELETE /api/comments/&lt;comment-id&gt;/</h3>
    <p>
        Delete a comment.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X DELETE \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/comments/13/
</code></pre>

    <hr>

    <h2 id="pages">Pages</h2>

    <h3 id="page-create">POST /api/pages/</h3>
    <p>
        Create new page.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><code>title</code>: string [required]</li>
        <li><code>slug</code>: string (slug; no spaces) [required]</li>
        <li><code>body</code>: string [optional]</li>
        <li><code>is_hidden</code>: boolean (if true, page link will not appear on blog header) [optional]</li>
    </ul>

    <strong>Request</strong>
    <pre><code>{
    "title": "About",
    "slug": "about",
    "body": "## About\n\nThis is my about page.",
    "is_hidden": false
}</code></pre>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "slug": "about",
    "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/about/"
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X POST \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    -d '{"title": "About", "slug": "about", "body": "## About\n\nThis is my about page."}' \
    {{ protocol }}//{{ host }}/api/pages/
</code></pre>

    <h3 id="page-get">GET /api/pages/&lt;page-slug&gt;/</h3>
    <p>
        Get single page.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "slug": "about",
    "title": "About",
    "body": "## About\n\nThis is my about page.",
    "is_hidden": false,
    "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/about/"
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X GET \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/pages/about/
</code></pre>

    <h3 id="page-update">PATCH /api/pages/&lt;page-slug&gt;/</h3>
    <p>
        Update existing page.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><code>title</code>: string [optional]</li>
        <li><code>slug</code>: string (slug; no spaces) [optional]</li>
        <li><code>body</code>: string [optional]</li>
        <li><code>is_hidden</code>: boolean [optional]</li>
    </ul>

    <strong>Request</strong>
    <pre><code>{
    "title": "About Me",
    "slug": "about-me",
    "body": "## About Me\n\nUpdated about content.",
    "is_hidden": true
}</code></pre>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "slug": "about-me",
    "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/about-me/"
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X PATCH \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    -d '{"title": "About Me", "body": "Updated content."}' \
    {{ protocol }}//{{ host }}/api/pages/about/
</code></pre>

    <h3 id="page-delete">DELETE /api/pages/&lt;page-slug&gt;/</h3>
    <p>
        Delete page.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X DELETE \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/pages/about/
</code></pre>

    <h3 id="page-list">GET /api/pages/</h3>
    <p>
        List all pages.
    </p>

    <strong>Parameters</strong>
    <ul>
        <li><em>(no parameters)</em></li>
    </ul>

    <strong>Response</strong>
    <pre><code>{
    "ok": true,
    "page_list": [
        {
            "title": "About",
            "slug": "about",
            "body": "## About\n\nThis is my about page.",
            "is_hidden": false,
            "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/about/"
        },
        {
            "title": "Contact",
            "slug": "contact",
            "body": "Contact me at email@example.com",
            "is_hidden": true,
            "url": "{{ protocol }}//{{ request.user.username|default:"your-username" }}.{{ host }}/contact/"
        }
    ]
}</code></pre>

    <strong>curl</strong>
    <pre><code>$ curl -X GET \
    -H 'Authorization: Bearer {{ request.user.api_key|default:"your-api-key" }}' \
    {{ protocol }}//{{ host }}/api/pages/
</code></pre>

    <div style="margin-top: 64px;"></div>
</main>
{% endblock content %}
