{% extends 'main/layout.html' %}

{% block title %}Sign up{% endblock %}

{% block head_viewport %}
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock head_viewport %}

{% block content %}
<main>
    <h1>Welcome to Mataroa!</h1>

    <p>
        A blog is a mode of publication; like the book, the magazine, the television show.
        We see the blog as a first-class citizen in online publishing. The simplest—maybe default—form
        to express and distribute ideas on the internet.
    </p>
        We designed Mataroa to fulfill specific needs: the needs of those who want to just
        write—nothing else. We offer a place of  <strong>no distractions</strong> to facilitate
        a <strong>primary mode of intellectual internetic exchange: write a blog entry.</strong>
    </p>

    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Continue">
    </form>

    <p>
        Read our <a href="{% url 'methodology' %}">Methodology</a>
        for details on our approach, how we operate, and how we protect our users’ privacy.
    </p>
</main>
{% endblock content %}
